html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #FCFCFC;
}

.container {
  width: 960px;
  position: relative;
  margin: 0 auto;
}

header .brand {
  font-family: 'Ruda', sans-serif;
}