* {
  padding: 0;
  margin: 0;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #FCFCFC;
}

.container {
  width: 960px;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
}

@media only screen and (max-width : 1024px) {
  .container {
    width: 100%;
  }

  .menu ul {
    width: 100%;
  }
  .menu ul li {
    width: 100%;
    display: inline-block !important;
    clear: both;
    padding: 5px 0 !important;
    text-align: center;
  }
}

.brand-container {
  width: auto;
  margin: 20px 0;
}

.brand {
  font-family: 'Ruda', sans-serif;
  color: #c3c3c3;
  font-size: 54px;
  margin-bottom: 0;
}

.brand b {
  color: #696969;
}

.brand span {
  color: #FF7171;
}

.brand-container small {
  display: block;
  margin-top: -10px;
  font-size: 16px;
  color: #FF7B7B;
}

.menu {
  margin: 10px 0;
  width: 100%;
  background-color: #FFF;
  padding: 10px 0;
  box-sizing: border-box;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05);
  position: relative;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu ul li {
  display: inline;
  padding: 0 10px;
}

.menu ul li:first-child {
  padding-left: 0;
}

.menu ul li:last-child {
  padding-right: 0;
}

.menu ul li a {
  color: #C4C4C4;
  text-decoration: none;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.menu ul li a:hover {
  color: #313131;
}

.menu ul li a:hover span {
  color: #FF7171;
}

.menu ul li a span {
  color: #FFF;
}

/* Courses definitions */
.courses {
  background-color: #3BB3EB;
}
.courses h1 {
  background-color: #0871A2;
  color: #FFF;
}

/* Screencasts definitions */
.screencasts {
  background-color: #3BEBBA;
}
.screencasts h1 {
  background-color: #06966E;
  color: #FFF;
}

.section {
  width: 100%;
  margin: 0;
  padding-bottom: 25px;
  display: inline-block;
}

.section:first-child {
  margin-top: -10px;
}

.section h1 {
  margin: 20px 0;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.04);
  text-transform: uppercase;
}

.section h1 span {
  color: #FF7171;
}

.section .section-card {
  display: inline-block;
  max-width: 280px;
  float: left;
  margin-right: 60px;
  background-color: #FFF;
  padding: 15px;
  padding-top: 5px;
  box-sizing: border-box;
  min-height: 357px;
  border-radius: 3px;
  border: 1px solid #F5F5F5;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.section .section-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.40);
}

.section .section-card:nth-child(4) {
  margin-right: 0;
}

.section .section-card h3 {
  margin: 5px 0;
  text-align: center;
  font-weight: 300;
}

.section .section-card p {
  color: #8A8888;
  font-weight: 100;
}

.section hr {
  width: 100%;
  margin: 5px 0;
  display: inline-block;
  box-sizing: border-box;
  float: left;
}

.section .read-more {
  display: block;
  clear: both;
  float: right;
  margin: 20px 0;
  margin-bottom: 0;
  text-decoration: none;
  background-color: #FFF;
  padding: 5px 15px;
  box-sizing: border-box;
  border: 1px solid #FFF;
  color: #696969;
  border-radius: 3px;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.section .read-more:hover {
  background-color: #383838;
  color: #FFF;
  border: 1px solid #383838;
}

.footer {
  width: 100%;
  background-color: #3A3A3A;
  padding: 30px 0;
  display: inline-block;
  margin-bottom: -5px;
}

.brand-footer {
  float: right;
  background-color: #FFF;
  padding: 10px 30px;
}

.footer-text {
  width: 80%;
  color: #AFAFAF;
  padding: 10px;
  box-sizing: border-box;
  margin: 0 auto;
  font-weight: 100;
}

.footer-text strong {
  color: #FFF;
}

.footer-text a {
  text-decoration: none;
  color: #FFF;
}

.footer-text p {
  float: left;
  margin: 5px 0;
}

.copyright {
  color: #FFF;
}