<div class="section courses">
  <div class="container">
    <h1><span>/</span> Cursos</h1>
    <div class="section-card">
      <h3>JavaScript</h3>
      <figure>
        <img src="img/javascript.png">
      </figure>
      <p>Aprenda JavaScript na prática!</p>
    </div>

    <div class="section-card">
      <h3>Node.js</h3>
      <figure>
        <img src="img/nodejs.jpg">
      </figure>
      <p>Curso que aborda Node.js - do básico ao avançado!</p>
    </div>

    <div class="section-card">
      <h3>AngularJS</h3>
      <figure>
        <img src="img/angular.png">
      </figure>
      <p>Aprenda tudo sobre essa nova framework que chegou para ficar.</p>
    </div>
    
    <a class="read-more" href="#">ver mais!</a>
  </div>
</div>