<div class="section screencasts">
  <div class="container">
    <h1><span>/</span> Screencasts</h1>
    <div class="section-card">
      <h3>Erlang</h3>
      <figure>
        <img src="img/erlang.png">
      </figure>
      <p>Descubra o poder dessa incrível linguagem!</p>
    </div>

    <div class="section-card">
      <h3>AngularJS</h3>
      <figure>
        <img src="img/angular.png">
      </figure>
      <p>Aprenda tudo sobre essa nova framework que chegou para ficar.</p>
    </div>

    <div class="section-card">
      <h3>JavaScript</h3>
      <figure>
        <img src="img/javascript.png">
      </figure>
      <p>Aprenda JavaScript na prática!</p>
    </div>
    <a class="read-more" href="#">ver mais!</a>
  </div>
</div>