<div class="section about">
  <div class="container">
    <h1><span>/</span> Sobre</h1>

    <figure>
      <img src="img/william.jpeg">
    </figure>

    <div class="about-text">
      <p>
        <strong>William Oliveira</strong> é Desenvolvedor Open Source (Web e Mobile), devoto ao software livre, com mais de 5 anos de experiência.
      </p>

      <p>Possui conhecimento nas linguagens: <strong>JavaScript</strong>, <strong>Python</strong> e <strong>Erlang</strong>.</p>

      <p>
        Já passou por várias empresas, dentro e fora do Brasil. Entre elas estão: <a target="_blank" href="http://dafiti.com.br">Dafiti</a>, <a target="_blank" href="http://www.rocket-internet.de/">Rocket Internet (Alemanha)</a> e <a href="http://yacows.com.br/">YACOWS</a>.
      </p>

      <p>
        É criador de vários projetos open source, como o <a target="_blank" href="http://jstherightway.org">JavaScript: The Right Way</a> e <a target="_blank" href="https://github.com/gnuwilliam/sudotrap">sudotrap</a>.
      </p>

      <p>Para saber mais, visite seu perfil no GitHub <a target="_blank" href="https://github.com/gnuwilliam">@gnuwilliam</a></p>
    </div>
  </div>
</div>